# Dependency directories
node_modules/
**/node_modules/

# Production build outputs
dist/
**/dist/
dist-ssr/

# Environments and Secrets
.env
*.env
.env.*

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# System Files and Editors
.DS_Store
Thumbs.db
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
